# Loading data for the examples

We use an open Kaggle dataset for the examples in this project. Specifically, we utilize the [Delhi 5-Minute Electricity Demand for Forecasting dataset](https://www.kaggle.com/datasets/yug201/delhi-5-minute-electricity-demand-for-forecasting), which provides high-frequency electricity demand data for Delhi. This dataset is ideal for demonstrating time series analysis, forecasting techniques, and anomaly detection. By applying various modeling approaches, including PCA and machine learning, we explore patterns in electricity consumption and showcase the capabilities of TimeScape in extracting insights from temporal data.

In [1]:
import pandas as pd
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yug201/delhi-5-minute-electricity-demand-for-forecasting")

print("Path to dataset files:", path)

c:\repo\vector-tokenizer\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\spg_mlie\.cache\kagglehub\datasets\yug201\delhi-5-minute-electricity-demand-for-forecasting\versions\1

## Dataset
Lets open the CSV file and load it into a dataframe.

In [2]:
data = pd.read_csv(path + "\powerdemand_5min_2021_to_2024_with weather.csv")
data.head()

,Unnamed: 0,datetime,Power demand,temp,dwpt,rhum,wdir,wspd,pres,year,month,day,hour,minute,moving_avg_3
0,0,2021-01-01 00:30:00,2014.00,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,30,NaN
1,1,2021-01-01 00:35:00,2005.63,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,35,NaN
2,2,2021-01-01 00:40:00,1977.60,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,40,1999.076667
3,3,2021-01-01 00:45:00,1976.44,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,45,1986.556667
4,4,2021-01-01 00:50:00,1954.37,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,50,1969.470000

The dataset consists of the following columns:

* datetime: Timestamp of the observation
* Power demand: Electricity demand (in kW) recorded every 5 minutes.
* temp: Temperature (°C).
* dwpt: Dew point temperature (°C).
* rhum: Relative humidity (%).
* wdir: Wind direction (degrees).
* wspd: Wind speed (m/s).
* pres: Atmospheric pressure (hPa).
* year, month, day, hour, minute: Breakdown of the timestamp for easy time-series analysis.

In [3]:
data.datetime = pd.to_datetime(data['datetime'])
data = data.set_index("datetime", drop=True)
data = data.drop(columns=["Unnamed: 0", "minute"])

We see that the dataset contains about 400k rows, a nice base for showcasing the performance of library functions.

In [4]:
data.describe()

,Power demand,temp,dwpt,rhum,wdir,wspd,pres,year,month,day,hour,moving_avg_3
count,393440.000000,393440.000000,393440.000000,393440.000000,392900.000000,393440.000000,393440.000000,393440.000000,393440.000000,393440.000000,393440.000000,393438.000000
mean,3960.736469,25.527913,16.338046,63.435767,163.777081,7.854550,1008.932695,2022.487129,6.446991,15.745171,11.184371,3960.746273
std,1300.473773,7.981563,7.377440,24.850663,116.888397,5.664314,6.902759,1.110587,3.412654,8.783091,6.797501,1299.545642
min,1302.080000,4.000000,-8.600000,5.000000,0.000000,0.000000,989.600000,2021.000000,1.000000,1.000000,0.000000,1307.680000
25%,3074.900000,20.000000,10.400000,44.000000,50.000000,5.400000,1003.000000,2021.000000,3.000000,8.000000,5.000000,3075.861667
50%,3832.320000,27.000000,15.400000,67.000000,160.000000,7.600000,1009.000000,2022.000000,6.000000,16.000000,11.000000,3831.728333
75%,4870.465000,31.000000,23.900000,84.000000,270.000000,11.200000,1015.000000,2023.000000,9.000000,23.000000,17.000000,4869.906667
max,8631.530000,46.400000,30.300000,100.000000,360.000000,63.000000,1027.000000,2024.000000,12.000000,31.000000,23.000000,8598.126667

Now we can store the dataset for convenience and later retrieval:

In [5]:
data.to_parquet("dehli.parquet")